* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
    text-align: center;
}

body {
  background: #3C5377;
  text-align: center;
}

#parent {
  position: absolute;
  width: 250px;
  height: 320px;
  top: 32%;
  left: 44%;
  transform:translate(-50%,-50%)
}

#card {
  border: 2px solid rgb(158, 175, 58);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;

}

#cFront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #ffc728;
  color: #000;  
}

#cBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}

.flipper{
  transform: rotateY(180deg);
}

#cfront h2, #cback h2{
  font-family: sans-serif;
  padding: 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}