h1 {
    text-align: center;
}

#card1, #card2 {
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    width: 350px;
  height: 200px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 148px;
}

button {
  display: block;
  margin: 20px auto;
}