* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

h1 {
    text-align: center;
}


#bttn, form, h1{
  padding: 15px;
}

button {
  width: 78px;
  height: 28px;
  border-radius: 5px;
}

body {
  background: #3C5377;
  text-align: center;
}

#parent {
  position: absolute;
  width: 250px;
  height: 320px;
  top: 32%;
  left: 44%;
  transform:translate(-50%,-50%)
}

#card {
  border: 2px solid #725101;
  position: relative;
  top: 49px;
  left: 104px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;

}

#cFront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #f1d38a;
  color: #000;  
}

#cBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #db8f59;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}

.flipper{
  transform: rotateY(180deg);
}

h2 {
  padding-top: 100px;
}